@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins";
  background-color: #f1f1f1;
  overflow-x: hidden;   
  
}

h1 {
  font-family: "Bebas Neue";
  font-size: 70px;
  font-weight: bold;
  color: #363958;
  padding: 0;
  margin: 0;
}

.custom-highlight {
  font-weight: bold;
  font-size: 2rem;
}

.navMenu {
  height: auto;
  margin-bottom: 4%;
  padding: 10px;
  margin-top: 8px;
}

#header {
  height: 100%;
}

/* #display{
    margin-top: 2%;
} */

#productContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#explore {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  margin: auto;
  display: flex;
}

.card {
  /* border: 1px solid #0b0a0a; */
  border-radius: 2px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.card-body {
  padding: 1rem;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-subtitle {
  color: #888;
  margin-bottom: 0.8rem;
}

.card-img-top {
  object-fit: contain;
}

.cart,
.buy {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.cart {
  background-color: #f0ad4e;
  color: #fff;
}

.buy {
  background-color: #6d9b18;
  color: #fff;
}

footer {
  border-top: solid 0.5px black;
  color: #000;
  font-weight: bold;
}

.footer a {
  text-decoration: none;
  color: #000;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3px;
}

#my_cart {
  border: none;
  padding: 15px;
}

#searchInp {
  height: 50px;
  border: 0;
}

#searchBox {
  border: 2px;
  border-bottom: 2px solid #000;
  background-color: whitesmoke;
}

#searchContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  width: 100%;
  margin-right: 2%;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: auto;
}

ul {
  width: 30vw;
  margin-left: 5%;
  font-weight: bolder;
  font-size: 1.2rem;
}

.desc {
  margin-top: 5px;
  line-height: 2;
}

.bg-image {
  background-image: url("images/shoe9.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.checked {
  color: orange;
}

.rating {
  background-color: red;
}

@media (min-width: 320px) and (max-width: 480px) {
  h1 {
    font-size: 50px;
    font-weight: bolder;
  }

  #explore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 666px) and (min-width: 480px) {
  .cardItem {
    width: 27rem;
    height: 600px;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  .cardItem {
    width: 20rem;
    height: 600px;
  }
}

@media (min-width: 666px) {
  .cardItem {
    width: 20rem;
    height: 620px;
  }
}

a{
  text-decoration: none;
}


@media (min-width: 320px) and (max-width: 640px) {
    .btn .badge {
        position: relative;
        top: -50px;
        left: 5px;
    }
}

@media (min-width: 641px) and (max-width: 990px) {
    .btn .badge {
        position: relative;
        top: -25px;
        left: -20px;
    }
}

@media (min-width: 991px) and (max-width: 1270px) {
    .btn .badge {
        position: relative;
        top: -50px;
        left: 0px;
    }
}

@media (min-width: 1271px) {
    .btn .badge {
        position: relative;
        top: -27px;
        left: -27px;
    }
}


input[type="text"],input[type="email"],input[type="tel"] {
  border: solid black 2px;
}



@media (min-width: 320px) and (max-width:768px){
     #productRow{
display: none;}
}

#upi{
/* visibility: hidden; */
display: none;
}

#pay{

  background-color: rgb(223, 235, 235);
  font-weight: bold;
  padding: 3px;
  font-size: 2rem;
}

@media(min-width:768px){
  #media,#media1{
    display: none;
    
  }
  
}
@media(max-width:767px){
  #mg{
    margin-bottom: 3%;
  }
   
}

@media(max-width:768px){
  #units{
width:40%;
margin-top: 3%;  }
   
}




h5{
  font-size: 1rem;
}